<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <% if @post.picture %>
      <%= image_tag attachment_url(@post, :picture, :fill, 240, 180) %><br>
    <% end %>
    <%= f.attachment_field :picture, direct: true %>
  </div>
  <% if @post.picture %>
    <div class="field">
      <%= f.check_box :remove_picture %>
      <%= f.label :remove_picture %><br>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
